/* Pretendard 폰트 불러오기 */
@font-face {font-family: 'Pretendard'; src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff') format('woff'); font-weight: 100; font-display: swap; }
@font-face {font-family: 'Pretendard'; src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff') format('woff'); font-weight: 200; font-display: swap;}
@font-face {font-family: 'Pretendard'; src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff'); font-weight: 300; font-display: swap;}
@font-face {font-family: 'Pretendard'; src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff'); font-weight: 400; font-display: swap;}
@font-face {font-family: 'Pretendard'; src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff'); font-weight: 500; font-display: swap;}
@font-face {font-family: 'Pretendard'; src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff'); font-weight: 600; font-display: swap;}
@font-face {font-family: 'Pretendard'; src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff'); font-weight: 700; font-display: swap;}
@font-face {font-family: 'Pretendard'; src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff'); font-weight: 800; font-display: swap;}
@font-face {font-family: 'Pretendard'; src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff') format('woff'); font-weight: 900; font-display: swap;}

strong {
    padding: 5px;
}

.wordtest {
  width: auto;
  height: auto;
}

.testform {
  display: flex;
  align-items: center;
  width: 700px;
  height: fit-content;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;  
  gap: 20px;
  background-color: #fafaf8;
  border: 1.3px solid #222;
  padding: 30px;
  border-radius: 10px;
}

.result {
  font-size: 18px;
  color: #222;
}

.wordwrap {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: fit-content;
  height: fit-content;
  margin-bottom: 30px;
}

.questionwrap {
  display: flex;
  gap: 20px;
}

.answerwrap {
  width: auto;
  height: auto;
  position: relative;
}

.question, .answerinput {
  width: 270px;
  height: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
  align-content: center;
  border-radius: 7px;
  color: black;
  font-size: 15px;
  box-sizing: border-box;
}

.question {
  background-color: #344b47;
  border: 1px solid #fafaf8;
  color: white;
  text-align: center;
}

.answerinput {
  background-color: #fafaf8;
  border: 1px solid #344b47;
  padding: 10px;
  text-align: center;
}

.wronginput {
  background-color: #fafaf8;
  border: 1px solid #ff3333;
  color: white;
  padding: 10px;
  text-align: center;
}


.correctanswer {
  position: absolute;
  left: 0;
  bottom: -11px;  
  width: 100%;
  color: #ff3333;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  pointer-events: none;
}

.scoreBtn, .retryBtn {
  width: 200px;
  color: #222;
  background-color: #fafaf8;
  border: 1px solid #344b47;
}

.resultwrap {
  color: #222;
}
